/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --blue-color: #000028;
  --accent-color: rgb(255, 0, 112);

  --button-color: var(--accent-color);
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --button-border-active: var(--accent-color);

  --decorated-zone-color: var(--accent-color);
  --focus-color: #db00ff;

  --background-color: var(--blue-color);
  --background-image: url('../images/cover-image-dark.png');
  
  --description-text: var(--blue-color);
  --main-text-color:#f1b2ce;
  --section-title-color: var(--accent-color);
  --item-section-title-color: var(--blue-color);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}